<app-nav-bar></app-nav-bar>
<div class="bg-neutral-500 font-title flex justify-center items-center h-[65vh] ">
  <div class="lg:w-[40%] sm:w-[90%] grid gap-4">
    <div class="flex gap-3 lg:text-4xl sm:text-2xl justify-center">
      <h3 class="font-bold">Ecomerce</h3> <strong class="text-primary-100">project</strong>
    </div>
    <div>
      <h4 class=" leading-8 lg:text-2xl sm:text-xl text-center">
        Project made consuming a product api (fake api). technologies used:
        Angular and tailwind. This app contains a routing and filters, in
        addition to being able to see the details of the products
      </h4>
    </div>
  </div>
</div>
<app-footer></app-footer>
