<img
  src="../../../assets/landing.jpg"
  alt="landing"
  class="h-[100vh] w-[100vw] absolute"
/>
<div class="absolute gradient h-screen w-full"></div>
<div
  class="absolute top-[50%] left-[50%] translate-y-[-50%] translate-x-[-50%]"
>
  <div class="flex flex-col justify-center items-center">
    <h1 class="font-title font-bold text-6xl text-neutral-400">Welcome to</h1>
    <strong class="font-title font-bold text-6xl text-primary-100"
      >JI Store</strong
    >
  </div>
  <div class=" flex justify-center items-center">
    <button
      [routerLink]="'home'"
      class="mt-8 bg-primary-100 text-center py-3 px-6 font-title text-neutral-500 rounded-2xl opacity-80 lg:hover:opacity-100 lg:hover:duration-500 hover:cursor-pointer sm:active:opacity-100 sm:active:duration-500"
    >
      GO BUY
    </button>
  </div>
</div>
