<footer class="grid grid-cols-3 w-full h-[20vh] bg-neutral-100 sm:text-xs lg:text-base text-neutral-500 font-title">
  <div class="flex flex-col lg:mt-3 sm:mt-8 items-center">
    <div class="flex lg:gap-3 sm:gap-1 sm:text-base">
      <h3 class="">About</h3>
      <strong class="text-primary-100">project</strong>
    </div>
    <div class=" flex justify-center">
      <h4 class=" lg:text-center sm:text-start ml-4 lg:w-[70%]">
        This project was carried out with the intention of learning technologies
      </h4>
    </div>
  </div>
  <div class="flex justify-center items-center">
    <span class="text-primary-100 text-6xl font-logo font-semibold">Ji</span>
  </div>
  <div class="flex flex-col lg:mt-3 sm:mt-8 items-center">
    <div class="flex sm:text-base">
      <span class="">Con</span>
      <strong class="text-primary-100">tact</strong>
    </div>
    <div class=" grid gap-2">
      <button class=" flex items-center lg:hover:text-primary-100 lg:hover:duration-500 ">
        <img src="../../../assets/gmail.svg" alt="" class=" lg:h-5 lg:w-10 sm:hidden lg:block">
        <span class=" sm:-ml-4 lg:-ml-0">joairazabal1@gmail.com</span>
      </button>
      <button class=" flex items-center lg:gap-2 lg:hover:text-primary-100 lg:hover:duration-500  ">
        <img src="../../../assets/github.svg" alt="" class=" lg:ml-2 lg:h-5 lg:w-6 sm:h-4 sm:w-8">
        <a href="https://github.com/Joairazabal" >Github</a>
      </button>
      <button class=" flex items-center lg:hover:text-primary-100 lg:hover:duration-500 ">
        <img src="../../../assets/portfolio.svg" alt="" class=" lg:h-5 lg:w-10 sm:h-4 sm:w-8">
        <a href="https://joairazabal.vercel.app/" >Portfolio</a>
      </button>
    </div>
  </div>
</footer>
