<nav class="flex w-full h-[10vh] bg-blue-700">
    <div class="w-[30%] flex justify-center items-center">
        <h1>Logo</h1>
    </div>

    <div class="w-[70%] ">
        <ul class="gap-12 h-full flex justify-center items-center">
            <a routerLink="/home">Home</a>
            <a routerLink="/products">Products</a>
            <select class=" bg-transparent">
                <option value="default">Categories</option>
                <option value="{{category}}" *ngFor="let category of categories"
                [routerLink]="['/products']"
                [queryParams]="{category: category }">{{category}}</option>
            </select>
            <a routerLink="/about">About</a>
        </ul>
    </div>
</nav>  