<div class=" lg:h-[18rem] lg:w-[13rem] md:h-[14rem] md:w-[10rem] sm:w-[14rem] sm:h-[14rem] lg:hover:scale-105 lg:hover:duration-300 lg:hover:cursor-pointer md:active:scale-105 sm:active:scale-105" routerLink="/detail/{{product.id}}">
    <div class="h-[60%] flex justify-center items-center w-full bg-neutral-500 border  border-primary-200 rounded-t-md">
        <img src="{{product.image}}" alt="{{product.id}}" class="lg:h-[70%] sm:h-[8rem] w-[70%]">
    </div>
    <div class=" bg-primary-200 h-[40%] flex flex-col rounded-b-md items-center gap-2">
        <div class="h-[50%] flex items-center">
            <h3 class=" text-center">{{name}}</h3>
        </div>
    
        <div class="h-[50%] ">
            <h5 class=" text-center font-semibold">${{product.price}}</h5>
        </div>
    </div>
</div>
