<div class=" w-full flex justify-center">
<div class="flex gap-[4rem] justify-between">
    <img
      src="{{img}}"
      class="h-[22rem] w-[30%] rounded-xl shadow-md"
      alt=""
    />
    <div class="w-[60%] flex flex-col gap-8">
      <div>
        <h3 class="font-title font-bold text-3xl text-neutral-600">
          {{title}}
        </h3>
      </div>
      <div>
        <p class="font-title text-xl text-neutral-200 ">
          {{subtitle}}
        </p>
      </div>
      <div class="mt-8">
        <button
        [routerLink]="'/products'"
        [queryParams]="{genre: router}"
          class="bg-primary-100 px-4 py-2 text-center text-neutral-500 rounded-xl font-title lg:hover:scale-105 lg:hover:duration-500 sm:active:scale-105 sm:active:duration-500 shadow-primary-100 shadow-lg"
        >
          Go clothes {{title}}
        </button>
      </div>
    </div>
  </div>
</div>